
$img_width: 600px;
$alt_color: rgb(64, 128, 128);
$alt_color_lite: rgba(64, 128, 128, 0.4);

nav {
  &.navbar {
    background: $alt_color_lite;
  }

  .navbar-brand {
      width: 24px;
  }

  .navbar-nav .nav-link.active {
    font-weight: bold;
    color: $alt_color;
  }
}

footer {
  background: $alt_color_lite;
  padding: 1.5em;
}

h1, h2, h3 {
  margin-top: 2em;
  color: rgb(64, 128, 128);
}

h1 {
  text-align: center;
}

.container {
  div.image-wrapper {
    width: 90%;
    max-width: $img_width;
    margin: 0 auto;

    &.float {
      float: right;
      width: 325px;
      margin: 0 0 0 1.5em;
    }

    &.small {
      width: 150px;
    }

    img {
      display: block;
      margin: 0 auto;
      width: 100%;
    }

    .title {
      display: block;
      font-family: Georgia, serif;
      font-size: 0.9em;
      font-style: italic;
      line-height: 1.25em;
      margin: 5px 0;
      text-align: center;

      em {
        font-weight: bold;
      }
    }
  }

  hr {
    width: 75%;
    margin: 1.5em auto;
  }

  .clearfix {
    margin-bottom: 1em;
  }

  .search-buttons span {
    padding: 0 0.5em;
    vertical-align: middle;
  }

  &.disclaimer, &.db-meta {
    font-size: 0.85em;
  }
}

.status-lost {
  background: lightgray;
}

.status-sale {
  background: #79dfc1;
}

.status-unk {
  background: #fecba1;
}

strong.unk {
  color: $alt_color;
}

span.status {
  display: inline-block;
  padding: 0 0.25em;
}

.asoa-table {
  .hull {
    text-align: center;
  }

  .boat_name {
    text-transform: uppercase;
  }
}

.detail-table {
    >tbody > tr > td:first-child {
      font-weight: bold;
      white-space: nowrap;

      small {
        font-weight: normal;
      }
    }
}

table.owners {
  width: 100%;
  font-size: 0.9em;

  th {
    font-weight: 600;
  }
}

.search_term em {
  font-style: normal;
  font-weight: bold;
}

div.restricted {
  font-weight: bold;
  color: #f44;
  text-align: center;
}

.legend {
  font-size: 0.875em;
  margin-bottom: 0.5em;
  li {
    margin-bottom: 0.25em;
  }
}

@media (max-width: 768px) {
  .container {
    div.image-wrapper.float {
      max-width: 200px;
    }
  }
}
