{% extends 'default.html' %}
{% block content %}
{% include 'breadcrumb.html' %}
{% if page_title %}
<h3>{{ page_title }}</h3>
{% endif %}
{% if search_term %}
<p class="search_term">You searched for <em>"{{ search_term }}"</em></p>
{% endif %}
{% if boats.values() | selectattr("status", "eq", "UNK") | list | length > 0 %}
<p><small>Boats <span class="status status-unk">displayed in orange</span> are known to have been sold or listed for sale, but there is no information about the current owner.
If you have information about these boats, please <a target=_blank href="{{ db_update_form }}">use this online form</a> to send us updates.</small></p>
{% endif %}
{% if boats.values() | selectattr("status", "eq", "SALE") | list | length > 0 %}
<p><small>Boats <span class="status status-sale">displayed in green</span> are listed for sale according to latest reports. View the boat record for more details.</small></p>
{% endif %}
{% if boats.values() | selectattr("status", "eq", "LOST") | list | length > 0 %}
<p><small>Boats <span class="status status-lost">displayed in gray</span> are known to be lost. View the boat record for more details.</small></p>
{% endif %}
{% if boats | length > 0 %}
<table class="table asoa-table">
<tr><th class="hull">Hull</th><th class="name">Name</th><th class="owner">Owned By</th></tr>
{% for hull,boat in boats.items() -%}
{% if boat.status == 'LOST' -%}
{% set owner_name = '' -%}
{% elif boat.status == 'UNK' or boat.owners | length == 0 -%}
{% set owner_name = '<strong class="unk">Unknown<strong>' -%}
{% else -%}
{% set owner_name = boat.owners[0].owner_name -%}
{% endif -%}
<tr class="{{ 'status-' + boat.status | default('none') | lower }}">
    <td class="hull"><a href="/detail/{{ hull }}">{{ hull }}</td>
    <td class="name"><a href="/detail/{{ hull }}">{{ boat.boat_name }}</a></td>
    <td class="owner">{{ owner_name | safe }}</td>
</tr>
{% endfor %}
</table>
{% else %}
<p class="text-center">No matching results</p>
{% endif %}
{% endblock %}
