{% extends 'default.html' %}
{% block content %}
{% include 'breadcrumb.html' %}
{% if page_title %}
<h3>{{ page_title }}</h3>
{% endif %}
{% if search_term %}
<p class="search_term">You searched for <em>"{{ search_term }}"</em></p>
{% endif %}
<ul class="legend">
{% if boats.values() | selectattr("status", "eq", "UNK") | list | length > 0 %}
<li><span class="status status-unk">Orange rows</span> are boats known to have been sold or listed for sale, but there is no information about the current owner.</li>
{% endif %}
{% if boats.values() | selectattr("status", "eq", "SALE") | list | length > 0 %}
<li><span class="status status-sale">Green rows</span> are boats listed for sale according to latest reports. View the boat record for more details.</li>
{% endif %}
{% if boats.values() | selectattr("status", "eq", "LOST") | list | length > 0 %}
<li><span class="status status-lost">Gray rows</span> are boats known to be lost. View the boat record for more details.</li>
{% endif %}
</ul></small>
<p class="legend"><a href="{{ db_update_form }}" target=_blank>Click here</a> to provide updated information about any boat listed here.</small></p>
{% if boats | length > 0 %}
<table class="table asoa-table">
<tr><th class="hull">Hull</th><th class="name">Name</th><th class="owner">Owned By</th></tr>
{% for hull,boat in boats.items() -%}
{% if boat.status == 'LOST' -%}
{% set owner_name = '' -%}
{% elif boat.status == 'UNK' or boat.owners | length == 0 -%}
{% set owner_name = '<strong class="unk">Unknown<strong>' -%}
{% else -%}
{% set owner_name = boat.owners[0].owner_name -%}
{% endif -%}
<tr class="{{ 'status-' + boat.status | default('none') | lower }}">
    <td class="hull"><a href="/detail/{{ hull }}">{{ hull }}</td>
    <td class="name"><a href="/detail/{{ hull }}">{{ boat.boat_name }}</a></td>
    <td class="owner">{{ owner_name | safe }}</td>
</tr>
{% endfor %}
</table>
{% else %}
<p class="text-center">No matching results</p>
{% endif %}
{% endblock %}
