{% extends 'default.html' %}
{% block content %}

<h2>ASOA Database</h2>
<form method="GET" action="/search">
<div class="mb-3">
  <label for="searchText" class="form-label">Search for a boat name, hull number or owner</label>
  <input type="text" class="form-control" name="q" id="searchText"/>
</div>
<div class="mb-3 text-center search-buttons">
  <input class="btn btn-primary" type="submit" value="Search"/>
  <span>or</span>
  <a class="btn btn-primary" href="/list">Show All Seabreezes</a>
</div>

<h3>About This Database</h3>
<p class="px-4">
The <a href="//alliedseabreeze35.org">Allied Seabreeze Owners Association</a> (ASOA) maintains
this database of all known Allied Seabreezes built between 1963 and 1972, their
current status and owners.
{% if access_mode == "members" -%}
Use of this database is restricted to members of the ASOA. A public
version (without contact information) is
<a href="https://asoadb.alliedseabreeze35.org">available here</a>.
{% else -%}
ASOA members can request access to the "members only" version (with contact information) {{ contact_asoa('via email') }}.
{% endif -%}
For more information about the Allied Seabreeze and its history, <a href="//alliedseabreeze35.org">visit the website</a>.
</p>

{% if access_mode == "members" -%}
<h3>Download Access</h3>
<p class="px-4">ASOA members may <a href="/download/members">download the member list</a> as an Excel file.
Authorized access is limited to ASOA members only for their non-commercial use.</p>
{% endif -%}
</form>
{% endblock %}
